In [1]:
#pip install oracledb

Collecting oracledb
  Downloading oracledb-2.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.1/11.1 MB 29.6 MB/s eta 0:00:00
Requirement already satisfied: cryptography>=3.2.1 in /usr/local/lib/python3.10/dist-packages (from oracledb) (42.0.7)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=3.2.1->oracledb) (1.16.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.22)
Installing collected packages: oracledb
Successfully installed oracledb-2.2.0

In [4]:
import getpass
import oracledb

# 데이터베이스 연결 정보
un = '?????'
pw = '??????'
cs = '?????????'

# 데이터베이스 연결 설정
connection_config = {
    'user': un,
    'password': pw,
    'dsn': oracledb.makedsn(??????????????, 1521, service_name="xe")
}

try:
    # 데이터베이스 연결
    connection = oracledb.connect(**connection_config)
    print("Connected to the database")

    # 각 테이블 조회
    tables = ['CLOTHCATEGORY', 'CLOTHDETAILTABLE', 'CLOTHTABLE', 'USERS']
    for table_name in tables:
        # 쿼리 실행
        with connection.cursor() as cursor:
            cursor.execute(f"SELECT * FROM {table_name}")
            rows = cursor.fetchall()
            print(f"\n{table_name} Table:")
            for row in rows:
                print(row)

    # 연결 종료
    connection.close()

except oracledb.DatabaseError as e:
    print("Database connection error:", e)

Connected to the database

CLOTHCATEGORY Table:
(1, 'Top', 'T-Shirt')
(2, 'Bottom', 'Jeans')
(3, 'Accessory', 'Hat')

CLOTHDETAILTABLE Table:
(1001, 1, 'Red', 'M', 20, datetime.datetime(2024, 5, 1, 0, 0), 'Warehouse A', 'basic_tshirt_red_m.jpg')
(1001, 1, 'Blue', 'L', 30, datetime.datetime(2024, 5, 1, 0, 0), 'Warehouse B', 'basic_tshirt_blue_l.jpg')
(1002, 2, 'Dark Blue', '32', 10, datetime.datetime(2024, 5, 1, 0, 0), 'Warehouse C', 'blue_jeans_darkblue_32.jpg')

CLOTHTABLE Table:
(1001, 1, 'Basic T-Shirt', 'basic_tshirt.jpg', 15000, 100)
(1002, 2, 'Blue Jeans', 'blue_jeans.jpg', 45000, 50)
(1003, 3, 'Baseball Cap', 'baseball_cap.jpg', 20000, 75)

USERS Table:
(4, 'Male', 20, 'ryon', 'password135', 'ryon', 'ryon@exmaple.com', 1010345673, 'Muan, Korea')
(1, 'Male', 25, 'john_doe', 'password123', 'John Doe', 'john.doe@example.com', 1012345678, 'Seoul, Korea')
(2, 'Female', 30, 'jane_doe', 'password456', 'Jane Doe', 'jane.doe@example.com', 1087654321, 'Busan, Korea')
(3, 'Male', 35, 'bob_smith', 'password789', 'Bob Smith', 'bob.smith@example.com', 1011223344, 'Incheon, Korea')


#Create예제

In [3]:
import oracledb

# 데이터베이스 연결 정보
un = 'c##capstone'
pw = 'capstone'
cs = 'CapstoneDesign'

# 데이터베이스 연결 설정
connection_config = {
    'user': un,
    'password': pw,
    'dsn': oracledb.makedsn("210.179.203.207", 1521, service_name="xe")
}

try:
    # 데이터베이스 연결
    connection = oracledb.connect(**connection_config)
    print("Connected to the database")

    # CREATE: 새로운 사용자 추가
    with connection.cursor() as cursor:
        cursor.execute("""
            INSERT INTO USERS (userCode, gender, age, userID, userPassword, userName, userEmail, userPhone, userAddress)
            VALUES (5, 'Male', 28, 'new_user', 'new_password', 'New User', 'new.user@example.com', '01012345678', 'Daegu, Korea')
        """)
        connection.commit()
        print("New user added.")

except oracledb.DatabaseError as e:
    print("Database connection error:", e)

finally:
    connection.close()
    print("Database connection closed.")

Connected to the database
New user added.
Database connection closed.

#Read예제

In [4]:
import oracledb

# 데이터베이스 연결 정보
un = 'c##capstone'
pw = 'capstone'
cs = 'CapstoneDesign'

# 데이터베이스 연결 설정
connection_config = {
    'user': un,
    'password': pw,
    'dsn': oracledb.makedsn("210.179.203.207", 1521, service_name="xe")
}

try:
    # 데이터베이스 연결
    connection = oracledb.connect(**connection_config)
    print("Connected to the database")

    # READ: 모든 사용자 조회
    with connection.cursor() as cursor:
        cursor.execute("SELECT * FROM USERS")
        rows = cursor.fetchall()
        print("USERS Table:")
        for row in rows:
            print(row)

except oracledb.DatabaseError as e:
    print("Database connection error:", e)

finally:
    connection.close()
    print("Database connection closed.")

Connected to the database
USERS Table:
(4, 'Male', 20, 'ryon', 'password135', 'ryon', 'ryon@exmaple.com', 1010345673, 'Muan, Korea')
(5, 'Male', 28, 'new_user', 'new_password', 'New User', 'new.user@example.com', 1012345678, 'Daegu, Korea')
(1, 'Male', 25, 'john_doe', 'password123', 'John Doe', 'john.doe@example.com', 1012345678, 'Seoul, Korea')
(2, 'Female', 30, 'jane_doe', 'password456', 'Jane Doe', 'jane.doe@example.com', 1087654321, 'Busan, Korea')
(3, 'Male', 35, 'bob_smith', 'password789', 'Bob Smith', 'bob.smith@example.com', 1011223344, 'Incheon, Korea')
Database connection closed.

#Update예제

In [7]:
import oracledb

# 데이터베이스 연결 정보
un = 'c##capstone'
pw = 'capstone'
cs = 'CapstoneDesign'

# 데이터베이스 연결 설정
connection_config = {
    'user': un,
    'password': pw,
    'dsn': oracledb.makedsn("210.179.203.207", 1521, service_name="xe")
}

try:
    # 데이터베이스 연결
    connection = oracledb.connect(**connection_config)
    print("Connected to the database")

    # UPDATE: 사용자 정보 갱신
    with connection.cursor() as cursor:
        cursor.execute("""
            UPDATE USERS
            SET userName = 'UpdateUser', userEmail = 'updated.user@example.com'
            WHERE userID = 'new_user'
        """)
        connection.commit()
        print("User updated.")
    # READ: 모든 사용자 조회
    with connection.cursor() as cursor:
        cursor.execute("SELECT * FROM USERS")
        rows = cursor.fetchall()
        print("USERS Table:")
        for row in rows:
            print(row)
except oracledb.DatabaseError as e:
    print("Database connection error:", e)

finally:
    connection.close()
    print("Database connection closed.")

Connected to the database
User updated.
USERS Table:
(4, 'Male', 20, 'ryon', 'password135', 'ryon', 'ryon@exmaple.com', 1010345673, 'Muan, Korea')
(5, 'Male', 28, 'new_user', 'new_password', 'UpdateUser', 'updated.user@example.com', 1012345678, 'Daegu, Korea')
(1, 'Male', 25, 'john_doe', 'password123', 'John Doe', 'john.doe@example.com', 1012345678, 'Seoul, Korea')
(2, 'Female', 30, 'jane_doe', 'password456', 'Jane Doe', 'jane.doe@example.com', 1087654321, 'Busan, Korea')
(3, 'Male', 35, 'bob_smith', 'password789', 'Bob Smith', 'bob.smith@example.com', 1011223344, 'Incheon, Korea')
Database connection closed.

#Delete예제

In [9]:
import oracledb

# 데이터베이스 연결 정보
un = 'c##capstone'
pw = 'capstone'
cs = 'CapstoneDesign'

# 데이터베이스 연결 설정
connection_config = {
    'user': un,
    'password': pw,
    'dsn': oracledb.makedsn("210.179.203.207", 1521, service_name="xe")
}

try:
    # 데이터베이스 연결
    connection = oracledb.connect(**connection_config)
    print("Connected to the database")

    # DELETE: 사용자 삭제
    with connection.cursor() as cursor:
        cursor.execute("""
            DELETE FROM USERS
            WHERE userID = 'new_user'
        """)
        connection.commit()
        print("User deleted.")
    # READ: 모든 사용자 조회
    with connection.cursor() as cursor:
        cursor.execute("SELECT * FROM USERS")
        rows = cursor.fetchall()
        print("USERS Table:")
        for row in rows:
            print(row)
except oracledb.DatabaseError as e:
    print("Database connection error:", e)

finally:
    connection.close()
    print("Database connection closed.")

Connected to the database
User deleted.
USERS Table:
(4, 'Male', 20, 'ryon', 'password135', 'ryon', 'ryon@exmaple.com', 1010345673, 'Muan, Korea')
(1, 'Male', 25, 'john_doe', 'password123', 'John Doe', 'john.doe@example.com', 1012345678, 'Seoul, Korea')
(2, 'Female', 30, 'jane_doe', 'password456', 'Jane Doe', 'jane.doe@example.com', 1087654321, 'Busan, Korea')
(3, 'Male', 35, 'bob_smith', 'password789', 'Bob Smith', 'bob.smith@example.com', 1011223344, 'Incheon, Korea')
Database connection closed.

In [1]:
import sys
import os

# 현재 디렉토리 확인
print(os.getcwd())

# 필요한 경우 경로 추가
sys.path.append(os.getcwd())

c:\Users\audgn\FieTest

In [2]:
import qrtest1

# QR 코드를 인식하고 데이터를 반환받는 함수 호출
qr_data = qrtest1.detect_qr_code_from_camera(timeout=5)

In [3]:
print(qr_data)

['id=user1234&pw=12345678']

In [63]:
qr_data1 = ['id=ryon&pw=password135']
print(qr_data1)

['id=ryon&pw=password135']

In [64]:
def parse_qr_data(qr_data):
    # QR 코드 데이터가 리스트로 들어온다고 가정
    if qr_data and len(qr_data) > 0:
        data = qr_data[0]
        # 데이터 형식: 'id=user1234&pw=12345678'
        params = data.split('&')
        user_data = {}
        for param in params:
            key, value = param.split('=')
            user_data[key] = value
            #user_data[key] = '\''+value+'\''
        return user_data
    return None

In [65]:
idps = parse_qr_data(qr_data1)
print(idps)

{'id': 'ryon', 'pw': 'password135'}

In [66]:
a = idps['id']
print(a)

ryon

In [10]:
b = idps['pw']
print(b)

'password135'

In [67]:
import oracledb

# 데이터베이스 연결 정보
un = 'c##capstone'
pw = 'capstone'
cs = 'CapstoneDesign'

# 데이터베이스 연결 설정
connection_config = {
    'user': un,
    'password': pw,
    'dsn': oracledb.makedsn("210.179.203.207", 1521, service_name="xe")
}

try:
    # 데이터베이스 연결
    connection = oracledb.connect(**connection_config)
    
    print("Connected to the database")

    # READ: 모든 사용자 조회
    with connection.cursor() as cursor:
        #query = "SELECT * FROM USERS WHERE USERID = "+a +"AND USERPASSWORD="+b     
        #query = "SELECT * FROM USERS WHERE USERID=? AND USERPASSWORD=?"
        query = "SELECT * FROM USERS WHERE USERID=:id AND USERPASSWORD=:pw"
        #? 플레이스홀더를 사용하는 경우와 :param 형식의 네임드 플레이스홀더를 사용하는 경우로 나뉨
        cursor.execute(query, idps)
        rows = cursor.fetchall()
        print("USERS Table:")
        for row in rows:
            print(row)

except oracledb.DatabaseError as e:
    print("Database connection error:", e)

finally:
    connection.close()
    print("Database connection closed.")

Connected to the database
USERS Table:
(4, 'Male', 20, 'ryon', 'password135', 'ryon', 'ryon@exmaple.com', 1010345673, 'Muan, Korea')
Database connection closed.

In [24]:
import oracledb

# 데이터베이스 연결 정보
un = 'c##capstone'
pw = 'capstone'
cs = 'CapstoneDesign'

# 데이터베이스 연결 설정
connection_config = {
    'user': un,
    'password': pw,
    'dsn': oracledb.makedsn("210.179.203.207", 1521, service_name="xe")
}

try:
    # 데이터베이스 연결
    connection = oracledb.connect(**connection_config)
    print("Connected to the database")

    # DELETE: 사용자 삭제
    '''with connection.cursor() as cursor:
        cursor.execute("""
            DELETE FROM USERS
            WHERE userID = 'new_user'
        """)
        connection.commit()
        print("User deleted.")'''

    # READ: 모든 사용자 조회
    with connection.cursor() as cursor:
        cursor.execute("SELECT * FROM USERS")
        rows = cursor.fetchall()
        print("USERS Table:")
        for row in rows:
            print(row)

    # 컬럼 정보 조회
    with connection.cursor() as cursor:
        cursor.execute("""
            SELECT column_name, data_type, data_length, nullable
            FROM ALL_TAB_COLUMNS
            WHERE table_name = 'USERS'
            AND owner = :owner
        """, [un.upper()])
        columns = cursor.fetchall()
        print("\nUSERS Table Columns:")
        for column in columns:
            print(f"Column: {column[0]}, Type: {column[1]}, Length: {column[2]}, Nullable: {column[3]}")

    # 테이블의 물리적 구조 조회
    with connection.cursor() as cursor:
        cursor.execute("""
            SELECT table_name, tablespace_name, num_rows, blocks, avg_row_len
            FROM DBA_TABLES
            WHERE table_name = 'USERS'
            AND owner = :owner
        """, [un.upper()])
        tables = cursor.fetchall()
        print("\nUSERS Table Physical Structure:")
        for table in tables:
            print(f"Table: {table[0]}, Tablespace: {table[1]}, Rows: {table[2]}, Blocks: {table[3]}, Avg Row Length: {table[4]}")

except oracledb.DatabaseError as e:
    print("Database connection error:", e)

finally:
    connection.close()
    print("Database connection closed.")

Connected to the database
USERS Table:
(4, 'Male', 20, 'ryon', 'password135', 'ryon', 'ryon@exmaple.com', 1010345673, 'Muan, Korea')
(1, 'Male', 25, 'john_doe', 'password123', 'John Doe', 'john.doe@example.com', 1012345678, 'Seoul, Korea')
(2, 'Female', 30, 'jane_doe', 'password456', 'Jane Doe', 'jane.doe@example.com', 1087654321, 'Busan, Korea')
(3, 'Male', 35, 'bob_smith', 'password789', 'Bob Smith', 'bob.smith@example.com', 1011223344, 'Incheon, Korea')

USERS Table Columns:
Column: USERCODE, Type: NUMBER, Length: 22, Nullable: N
Column: GENDER, Type: VARCHAR2, Length: 10, Nullable: N
Column: AGE, Type: NUMBER, Length: 22, Nullable: N
Column: USERID, Type: VARCHAR2, Length: 10, Nullable: N
Column: USERPASSWORD, Type: VARCHAR2, Length: 20, Nullable: N
Column: USERNAME, Type: VARCHAR2, Length: 10, Nullable: N
Column: USEREMAIL, Type: VARCHAR2, Length: 30, Nullable: N
Column: USERPHONE, Type: NUMBER, Length: 22, Nullable: N
Column: USERADDRESS, Type: VARCHAR2, Length: 50, Nullable: N

USERS Table Physical Structure:
Table: USERS, Tablespace: USERS, Rows: 4, Blocks: 5, Avg Row Length: 80
Database connection closed.